.profile_active {
  background-color: white;
  width: 134px;
  height: 60px;
  color: black;
  position: absolute;
  top: 55px;
  right: 9px;
  text-align: left;
  border-radius: 5px;
  margin: 0;
  padding: 0;
}

.profile_hidden {
  display: none;
}

.profile_arrow {
  position: absolute;
  left: 75px;
  bottom: 50px;
  margin: 0;
  padding: 0;
}

.profile_ul {
  list-style-type: none;
}

.profile_ul li {
  margin: 7px;
}

.profile_ul li:hover {
  text-decoration: underline;
}